/* ELEMENTS */

@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");

:root {
  /* colors */
  --color-soft-blue: hsl(231, 69%, 60%);
  --color-soft-red: hsl(0, 94%, 66%);
  --color-grayish-blue: hsl(229, 8%, 60%);
  --color-very-dark-blue: hsl(229, 31%, 21%);
  --color-very-dark-blue-transparent: hsla(229, 31%, 21%, 0.98);
  --color-offwhite: #f7f7f7;
  --color-white: #fff;
  /* base settings */
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  color: var(--color-grayish-blue);
  margin-top: 0;
  line-height: 1.5rem;
  font-size: 0.95rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading {
  margin-top: 0;
  color: var(--color-very-dark-blue);
  font-weight: 500;
}

.heading--special {
  font-weight: 400;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

h1,
.h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2,
.h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

/* UTILITY CLASSES */

.hidden-in-mobile {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.text-light {
  color: var(--color-white);
}

.shake-horizontal {
  animation: shake 0.25s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0.5rem, 0) rotate(0deg);
  }
  50% {
    transform: translate(-0.5rem, 0) rotate(0deg);
  }
  100% {
    transform: translate(0.5rem, 0) rotate(0deg);
  }
}

/* COMPONENT CLASSES */

/* common */
.button {
  font-family: "Rubik", sans-serif;
  background-color: transparent;
  padding: 0;
  border: transparent;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
}

.button--blue {
  border: 0.15rem solid var(--color-soft-blue);
  background-color: var(--color-soft-blue);
  color: var(--color-white);
  padding: 0.85rem 0.95rem;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.1),
    0px 6px 5px 0px rgba(0, 0, 0, 0.1);
}

.button--blue:hover {
  color: var(--color-soft-blue);
  background-color: var(--color-white);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.1),
    0px 6px 5px 0px rgba(0, 0, 0, 0.1);
}

.button--offwhite {
  border: 0.15rem solid var(--color-offwhite);
  background-color: var(--color-offwhite);
  color: var(--color-very-dark-blue);
  padding: 0.85rem 0.95rem;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.1),
    0px 6px 5px 0px rgba(0, 0, 0, 0.1);
}

.button--offwhite:hover {
  color: #646371;
  background-color: var(--color-white);
  border: 0.15rem solid #646371;
}

.button--red {
  border: 0.15rem solid var(--color-soft-red);
  background-color: var(--color-soft-red);
  color: var(--color-white);
  padding: 0.85rem 0.95rem;
}

.button--red:hover {
  color: var(--color-soft-red);
  background-color: var(--color-white);
}

.button--more-info {
  padding: 0.85rem 1.5rem;
}

.section {
  padding-left: 2rem;
  padding-right: 2rem;
}

.img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-wrapper > img {
  max-width: 100%;
}

.main-wrapper {
  text-align: center;
}

/* nav */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.logo-wrapper {
  z-index: 510;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-image__text,
.logo-image__icon-symbol,
.logo-image__icon-circle {
  transition: 0.3s;
}

.logo-image__text--light {
  fill: var(--color-white);
}

.logo-image__icon-symbol--dark {
  fill: var(--color-very-dark-blue);
}

.logo-image__icon-circle--light {
  fill: var(--color-white);
}

.nav-menu-button {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 510;
  padding: 1rem;
  margin: -1rem;
}

.nav-menu-button:hover {
  background-color: unset;
}

.nav-menu {
  display: block;
  background-color: var(--color-very-dark-blue-transparent);
  position: absolute;
  padding: 106px 2rem 2.4rem 2rem;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
  z-index: 500;
}

.nav-menu--active {
  top: 0%;
}

.nav-menu__item {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  padding: 1.25rem 0;
}

.nav-menu__link {
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 400;
  display: block;
  text-align: center;
  letter-spacing: 0.2rem;
  transition: 0.3s;
  width: min-content;
  margin: 0 auto;
}

.nav-menu__link:hover {
  color: var(--color-soft-red);
}

.nav-menu__link--login {
  font-weight: 500;
  border: 0.15rem solid var(--color-white);
  padding: 0.75rem 0;
  border-radius: 0.4rem;
  width: auto;
}

.nav-menu__link--login:hover {
  border: 0.15rem solid var(--color-soft-red);
}

.social-links {
  bottom: 2.4rem;
  left: 0;
  z-index: 510;
  height: auto;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  padding: 0.25rem;
  margin: 0 1rem;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon > path {
  transition: 0.3s;
}
.icon > path:hover {
  fill: var(--color-soft-red);
}

/* intro section */
.section--intro {
  padding-top: 35px;
}

.img-wrapper--intro {
  margin-left: -2rem;
  margin-right: -2rem;
  z-index: 5;
  position: relative;
  margin-bottom: 53px;
}

.img-wrapper--intro::after {
  content: "";
  background-color: var(--color-soft-blue);
  width: 83%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;
}

.img-wrapper--intro > img {
  padding: 0 0.6rem;
  z-index: 5;
}

.button-container--intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.button-container--intro > .button {
  width: 100%;
}

.button-container--intro > .button--blue {
  margin-right: 2.3%;
}

/* features section */
.section--features {
  padding-top: 150px;
  padding-bottom: 135px;
}

.tab-group {
  margin-top: 42px;
}

.tab__controls {
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  margin-bottom: 73px;
}

.button--tab {
  width: 100%;
  font-weight: 400;
  font-size: 1.025rem;
  text-align: center;
  color: #5e5e66;
  border-radius: 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  transition: 0.3s ease-in;
  position: relative;
  letter-spacing: 0.025rem;
}

.button--tab:hover {
  color: var(--color-soft-red);
}

.button--tab--active {
  color: var(--color-very-dark-blue);
  transition: 0.3s ease-in-out;
}

.button--tab--active::after {
  position: absolute;
  content: "";
  width: 46.3%;
  height: 3.5px;
  background-color: var(--color-soft-red);
  bottom: 0;
  left: 50%;
  margin-left: calc(46.3% / -2);
  animation: transitionEffectFadeAndSlideUp 0.3s ease-in-out;
}

@keyframes transitionEffectFadeAndSlideUp {
  from {
    opacity: 0;
    transform: translateY(100%) scaleX(1);
  }

  to {
    opacity: 1;
    transform: translateY(0) scaleX(1);
  }
}

@keyframes transitionEffectFadeAndSlideRight {
  from {
    opacity: 0;
    transform: translateX(-100%) scaleY(1);
  }

  to {
    opacity: 1;
    transform: translateX(0) scaleY(1);
  }
}

.tab__display__item {
  display: none;
  animation: transitionEffectFadeAndSlideRight 0.7s ease-in-out;
}

.tab__display__item--active {
  display: block;
}

.img-wrapper--tab {
  margin: 0 -2rem 47px -2rem;
  position: relative;
}

.img-wrapper--tab::after {
  content: "";
  position: absolute;
  background-color: var(--color-soft-blue);
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 79%;
  height: 85%;
  border-bottom-right-radius: 5.5rem;
  border-top-right-radius: 5.5rem;
}

.img-wrapper--tab > img {
  padding: 0 2rem 2.25rem 2rem;
}

/* downloads section */
.section--downloads {
  padding-bottom: 90px;
}

.card {
  border: 0.15rem solid var(--color-offwhite);
  border-radius: 1.125rem;
  padding: 1.5rem;
  box-shadow: 2px 6px 7px 4px rgba(0, 0, 0, 0.08);
  max-width: 280px;
  margin: 3.4rem auto;
  overflow: hidden;
}

.img-wrapper--browser-icon > img {
  padding: 1rem;
}

.heading--downloads {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.img-wrapper--dots {
  margin: 29px -1.5rem 1.5rem -1.5rem;
}

.button-container--downloads > .button {
  width: 100%;
}

/* faq section */
.section--faq {
  padding-bottom: 120px;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 45px;
  text-align: left;
}

.accordion__item {
  max-height: 66px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.accordion__item--active {
  max-height: 667px;
}

.button--accordion {
  width: 100%;
  text-align: left;
  color: var(--color-very-dark-blue);
  border-radius: 0;
  padding-top: 22px;
  padding-bottom: 16px;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  z-index: 0;
}

.button--accordion__text {
  font-weight: 400;
  font-size: 0.92rem;
  line-height: 1.75rem;
  z-index: -2;
}

.button--accordion:hover {
  color: var(--color-soft-red);
  background-color: transparent;
}

.accordion__item__icon {
  transition: 0.3s ease-in;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

.accordion__item__icon__stroke {
  width: 28px;
  height: 28px;
  transition: 0.3s ease-in;
  transform: translate(5px, 6px);
  transform-origin: 11.5px 7.75px;
}

.accordion__item__icon__stroke--active {
  position: relative;
  stroke: var(--color-soft-red);
  transform: rotateZ(180deg);
}

.accordion__item__text {
  margin-bottom: 2rem;
  font-size: 0.95rem;
  line-height: 2rem;
  color: #5b5b65;
  word-spacing: 0.125rem;
  padding-right: 0.1rem;
}

/* join section */
.section--join {
  background-color: var(--color-soft-blue);
  padding-top: 70px;
  height: 360px;
}

.section--join--form-error {
  padding-bottom: 40px;
}

.form {
  position: relative;
  display: block;
  margin-top: 1.875rem;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.form-group__label {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: -5;
}

.form-group__input__email {
  font-family: "Rubik", sans-serif;
  padding: 1rem 16px;
  color: var(--color-very-dark-blue);
  border: transparent;
}

.form-group__input__email::placeholder {
  color: #30323e;
  opacity: 0.3;
}

.form-group__input__email:disabled {
  background-color: var(--color-white);
}

.form-group__input {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  z-index: 0;
  border-radius: 0.3rem;
  letter-spacing: 0.025rem;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.1),
    0px 6px 5px 0px rgba(0, 0, 0, 0.1);
}

.form-group__input:invalid {
  box-shadow: none;
}

.form-group__input--error {
  border: 0.2rem solid var(--color-soft-red);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 50px;
}

.img-wrapper--icon-error {
  position: absolute;
  top: 1.75px;
  right: 0;
  padding-right: 18px;
  height: 49px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.img-wrapper--icon-error > img {
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.img-wrapper--icon-error--active > img {
  opacity: 1;
}

.form-group__message {
  display: block;
  overflow: hidden;
  max-height: 0;
  height: 0;
  width: 100%;
  text-align: left;
  font-style: italic;
  font-size: 0.6rem;
  background-color: var(--color-soft-red);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0;
  color: var(--color-white);
  transition: 0.3s ease-in-out;
  letter-spacing: 0.05rem;
}

.form-group__message--active {
  max-height: 300px;
  padding: 2px 11px 6px 11px;
  height: auto;
}

.form-group__input__submit {
  transition: 0.3s ease-in-out;
}

.form-group__input__submit:disabled {
  background-color: var(--color-white);
  color: var(--color-soft-red);
  filter: brightness(1.5);
  transition: 0.6s ease-in-out;
  font-weight: 500;
}

/* footer */
.footer {
  background-color: var(--color-very-dark-blue);
  display: flex;
  flex-direction: column;
}

.logo-wrapper--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar--footer {
  display: block;
}

.nav-menu--footer {
  display: block;
  background-color: var(--color-very-dark-blue-transparent);
  position: static;
  padding: 1.5rem 2rem 0rem 2rem;
  width: auto;
  height: auto;
  overflow-x: auto;
  transition: 0.3s ease-in-out;
  z-index: initial;
}

.nav-menu__item--footer {
  border-top: none;
  padding: 1rem 0;
}

.nav-menu__link--footer {
  color: var(--color-white);
  font-size: 0.9rem;
  font-weight: 400;
  display: block;
  text-align: center;
  letter-spacing: 0.15rem;
  transition: 0.3s;
}

.nav-menu__link:hover {
  color: var(--color-soft-red);
}

.social-links--footer {
  bottom: initial;
  left: initial;
  z-index: initial;
  height: auto;
  width: 100%;
  position: static;
  margin-top: 1.5rem;
}

@media only screen and (min-width: 760px) {
  /* ELEMENTS */

  p {
    line-height: 1.75rem;
    font-size: 1.125rem;
  }

  h1,
  .h1 {
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: 1.5rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  h3,
  .h3 {
    font-size: 1.25rem;
  }

  /* UTILITY CLASSES */

  .hidden-in-mobile {
    display: inline;
  }

  /* COMPONENT CLASSES */

  /* common */
  .button--blue,
  .button--offwhite,
  .button--red {
    padding: 0.85rem 22.8px;
  }

  .section {
    padding-left: 25%;
    padding-right: 25%;
  }

  .img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .img-wrapper > img {
    max-width: 100%;
  }

  .main-wrapper {
    text-align: center;
  }

  /* nav */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .logo-wrapper {
    z-index: 510;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-menu-button {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    position: relative;
    padding: 0;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    z-index: 500;
  }

  .nav-menu__item {
    border-top: none;
    padding: 46px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-menu__link {
    color: var(--color-very-dark-blue);
    font-size: 0.8rem;
    font-weight: 400;
    display: block;
    text-align: center;
    letter-spacing: 0.1rem;
    transition: 0.3s;
    margin: 0;
    padding: 12px 22px;
  }

  .nav-menu__item--login {
    margin-left: 26px;
  }

  .nav-menu__link--login {
    font-weight: 500;
    border: 0.15rem solid var(--color-soft-red);
    background-color: var(--color-soft-red);
    color: var(--color-white);
    padding: 12px 2rem;
    border-radius: 0.4rem;
    width: auto;
    position: relative;
  }

  .nav-menu__link--login::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .nav-menu__link--login:hover {
    background-color: var(--color-white);
    color: var(--color-soft-red);
  }

  .social-links {
    display: none;
  }

  /* intro section */
  .img-wrapper--intro {
    margin-left: -50%;
    margin-right: -50%;
  }

  /* features section */
  .button--tab--active::after {
    width: 50%;
    left: 50%;
    margin-left: calc(-50% / 2);
  }

  .img-wrapper--tab {
    margin-left: -50%;
    margin-right: -50%;
  }

  .tab__display__item--active .button--more-info {
    margin: 0 auto;
    margin-top: 33px;
    display: block;
  }

  /* downloads section */
  .card {
    max-width: 33%;
    min-width: 280px;
  }

  .img-wrapper--dots {
    margin: 32px -1.5rem 1.5rem -1.5rem;
  }

  .img-wrapper--dots > img {
    width: 150%;
  }

  /* footer */
  .footer {
    background-color: var(--color-very-dark-blue);
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .logo-wrapper--footer {
    padding-right: calc(64px - 22px);
  }

  .navbar--footer {
    width: 100%;
    justify-content: flex-start;
  }

  .nav-menu--footer {
    position: static;
  }

  .nav-menu__item--footer {
    padding: calc(38px - 12px) 0;
  }

  .nav-menu__link--footer {
    color: var(--color-white);
  }

  .social-links--footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    margin-right: 2rem;
    height: 91px;
  }

  .social-links--footer > .social-links__item {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .social-links--footer > .social-links__item:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1250px) {
  /* UTILITY CLASSES */

  .hidden-in-mobile {
    display: block;
  }

  /* nav */
  .navbar {
    padding: 0 11.3%;
  }

  .section {
    padding-left: 11.3%;
    padding-right: 11.3%;
  }

  /* intro section */
  .section--intro {
    padding-top: 59px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .section--intro > .section__text {
    text-align: left;
    margin-left: 11.3%;
    margin-top: 82px;
    padding-right: 2rem;
  }

  .img-wrapper--intro {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    justify-content: end;
    padding-right: 3.5%;
  }

  .img-wrapper--intro::after {
    width: 72%;
    height: 75%;
    top: 31%;
    border-bottom-left-radius: 9995rem;
    border-top-left-radius: 9995rem;
  }

  .img-wrapper--intro > img {
    padding: 0;
  }

  .button-container--intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .button-container--intro > .button {
    width: auto;
  }

  .button-container--intro > .button--blue {
    margin-right: 17px;
  }

  /* features section */
  .section--features {
    padding: 115px 0 0 0;
  }

  .section--features > .section__text {
    margin-left: calc(30.3%);
    margin-right: calc(30.3%);
  }

  .tab__controls {
    border-top: 0;
    margin-left: 24.65%;
    margin-right: 24.65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button--tab {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .button--tab--active::after {
    width: 100%;
    height: 3.5px;
    background-color: var(--color-soft-red);
    bottom: 0;
    left: 0;
    margin-left: 0;
  }

  @keyframes transitionEffectFade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .tab__display__item {
    animation: transitionEffectFade 0.7s ease-in-out;
  }

  .tab__display__item--active {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: left;
    margin-right: 11.3%;
    margin-left: 11.3%;
  }

  .tab__display__item--active > article {
    margin-top: 68px;
    width: calc(50% - 10%);
    z-index: 2;
  }

  .tab__display__item--active .button--more-info {
    margin: 0;
    margin-top: 33px;
    display: block;
  }

  .img-wrapper--tab {
    margin-left: -11.3%;
    margin-right: 0;
    padding-left: 22.6%;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    position: absolute;
    left: 0;
  }

  .img-wrapper--tab::after {
    background-color: var(--color-soft-blue);
    bottom: auto;
    top: 82px;
    width: 50.5%;
    height: 352px;
    border-bottom-right-radius: 999rem;
    border-top-right-radius: 999rem;
  }

  .img-wrapper--tab > img {
    padding: 0;
  }

  /* downloads section */
  .section--downloads {
    padding-top: 305px;
    padding-bottom: 0;
  }

  .section--downloads > .section__text {
    margin: 0 24%;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 59px;
  }

  .card {
    border: 0.15rem solid var(--color-offwhite);
    border-radius: 1.125rem;
    padding: 1.5rem;
    box-shadow: 2px 6px 7px 4px rgba(0, 0, 0, 0.08);
    max-width: 25.15%;
    min-width: 280px;
    margin: 4.6% 1.62%;
    overflow: hidden;
  }

  .card:first-child {
    margin-top: 0;
    margin-bottom: calc(4.6% * 2);
  }

  .card:last-child {
    margin-bottom: 0;
    margin-top: calc(4.6% * 2);
  }

  .img-wrapper--browser-icon > img {
    padding: 1rem;
  }

  .heading--downloads {
    margin-top: 20px;
    margin-bottom: 0.5rem;
  }

  .img-wrapper--dots {
    margin: 32px -1.5rem 1.5rem -1.5rem;
  }

  .button-container--downloads > .button {
    width: 100%;
  }

  /* faq section */
  .section--faq {
    padding-top: 115px;
    padding-bottom: 149px;
    margin: 0 auto;
    width: 60%;
  }

  .accordion {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 55px;
  }

  .button--accordion__text {
    font-size: 1.125rem;
  }

  .accordion__item__text {
    font-size: 1rem;
    word-spacing: 0.1rem;
    line-height: 2.15rem;
    margin-top: calc(35px - 16px);
  }

  .accordion__item__icon {
    margin-right: calc(22px - 6px);
  }

  /* join section */
  .section--join {
    background-color: var(--color-soft-blue);
    padding: 70px 34.5% 0 34.5%;
    height: 360px;
  }

  .heading--special {
    font-weight: 400;
    letter-spacing: 0.25rem;
    margin-bottom: 2.5rem;
  }

  .section--join--form-error {
    padding-bottom: 40px;
  }

  .form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.875rem;
    text-align: center;
  }

  .form-group {
    position: relative;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .form-group--email {
    width: 71%;
  }

  .form-group--submit {
    margin-left: 12.5px;
  }

  .form-group__input__email {
    font-family: "Rubik", sans-serif;
    padding: 1rem 16px;
    color: var(--color-very-dark-blue);
    border: transparent;
  }

  .form-group__input {
    font-size: 0.9rem;
    z-index: 0;
    border-radius: 0.3rem;
    letter-spacing: 0.025rem;
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.1),
      0px 6px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .form-group__input:invalid {
    box-shadow: none;
  }

  .form-group__input--error {
    border: 0.2rem solid var(--color-soft-red);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 50px;
  }

  .img-wrapper--icon-error {
    position: absolute;
    top: 1.75px;
    right: 0;
    padding-right: 18px;
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
  }

  .img-wrapper--icon-error > img {
    height: 20px;
    width: 20px;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .img-wrapper--icon-error--active > img {
    opacity: 1;
  }

  .form-group__message--active {
    max-height: 300px;
    padding: 2px 11px 6px 11px;
    height: auto;
  }

  /* footer section */
  .social-links--footer {
    margin-right: 11.3%;
  }
}
